[submodule "submodules/kicad-libs"]
	path = submodules/kicad-libs
	url = https://github.com/ohmtech/kicad-libs.git
[submodule "submodules/libDaisy"]
	path = submodules/libDaisy
	url = https://github.com/electro-smith/libDaisy.git
[submodule "submodules/vcv-rack-sdk"]
	path = submodules/vcv-rack-sdk
	url = https://github.com/ohmtech-rdi/vcv-rack-sdk.git
[submodule "submodules/gyp-next"]
	path = submodules/gyp-next
	url = https://github.com/nodejs/gyp-next.git
[submodule "submodules/kissfft"]
	path = submodules/kissfft
	url = https://github.com/mborgerding/kissfft.git
[submodule "submodules/soundpipe"]
	path = submodules/soundpipe
	url = https://github.com/paulbatchelor/soundpipe.git
